* {
    box-sizing: border-box;
    padding: 10px;
    
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75%;
}


p {
background-color: gray;
font-family: 'Times New Roman', Times, serif;
margin-bottom: 15px;
margin-top: 0;
margin-left: auto;
margin-right: auto;
border: 2px solid black;
padding: 10px;
margin-right: 10px;
position: relative;
}

b { 
border: 2px solid black;
font-size: 25%;
font-family: 'Times New Roman', Times, serif;
padding: 7px;
position: absolute;
top: 0;
right: 0;
border-right: 1px;
border-top: 1px;
;
}

@media (min-width: 992px) {
    .div1, .div2, .div3 { 
        
        float: left; 
        

    }
.div1 {
   width: 33.3%; 
}
.div2 {
   width: 33.3%; 
}
.div3 {
   width: 33.3%; 
}

 }

@media (min-width: 768px) and (max-width: 991px) {
    .div1, .div2, .div3 { 
        float: left;
        
    }
     .div1 {
        width: 50%; 
    }
     .div2 {
        width: 50%; 
     }
     .div3 {
        width: 100%; 
     }
}

@media (max-width: 767px) {
    .div1, .div2, .div3 { 
        float: left;
        
    }
     .div1 {
        width: 100%; 
    }
     .div2 {
        width: 100%; 
     }
     .div3 {
        width: 100%; 
     }
}
.dv1 {
    background-color: rgb(228, 162, 173);
}

.dv2 {
    color: white;
    background-color: brown;
}

.dv3 {
    background-color: tan;
}